/* @font-face {
  font-family: 'Avara';
  src: url('fonts/Avara-Bold.woff2') format('woff2'),
       url('fonts/Avara-Bold.woff') format('woff'),
       url('fonts/Avara-Bold.eot') format('eot'),
       url('fonts/Avara-Bold.ttf') format('ttf'),
} */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700&display=swap');

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

html, body {
  height: 100%;
}


body {
  font-family: 'Work Sans', sans-serif;
  font-size:300px;
  margin: 0;
}

h1 {
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight:500;
  color: #fafafa;
  font-size: 3vw;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  margin-top: 24px;
}

.logo {
  width: 22%;
}


@media screen and (max-width: 650px) {
    #bgvid {
        display: none;
    }

  body {
    background-image: url("unto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
