
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700&display=swap');


.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.video,
.bg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video {
    width: 300%;
    left: -100%;
  }
}


html, body {
  height: 100%;
}


body {
  font-family: 'monotype-grotesque',sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fafafa;
  margin: 24px;
  /* background-color: #467058; */
  background-color: #377156;
  overflow: hidden; /* Hide scrollbars */

}

/* a:link, a:visited {
  background-color: #fafafa;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
} */


h1 {
  font-family: 'monotype-grotesque',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
}

h2 {
  font-family: 'monotype-grotesque',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.2;
  text-align:center;
}

.header {
  max-width:768px;
  display:block;
  margin: 32px auto 48px auto;
  text-align: center;
}

.logo {
  margin-bottom:16px;
}

section {
  overflow:hidden;
}

section.statement {
  max-width: 800px;
  margin:0 auto;
  text-align: center;
  padding: 70px 20px;
}


footer {
  position: fixed;
  width: 800px;
  height: 50px;
  top: 90%;
  left: 50%;
  margin-left: -400px; /* margin is -0.5 * dimension */
  margin-top: -25px;
}

footer h2{
  padding-bottom:8px;
}

footer img{
  text-align:center;
  width:38px
}




@media screen and (max-width: 768px) {

   h2 {
    font-size: 18px;
  }

  .header {
    max-width:512px;
    display:block;
    margin: 32px auto 48px auto;
    text-align: center;
  }




}


@media screen and (max-width: 375px) {
   h2 {
    font-size: 14px;
  }
}





}

@media screen and (max-width: 768) {

  body {
    background-color: #0000ff;


  }

}

/* @media screen and (min-width: 1024px) {
  #photo { display: hidden; }
} */
