@font-face {
  font-family: 'Avara';
  src: url('fonts/Avara-Bold.woff2') format('woff2'),
       url('fonts/Avara-Bold.woff') format('woff'),
       url('fonts/Avara-Bold.eot') format('eot'),
       url('fonts/Avara-Bold.ttf') format('ttf'),
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

html, body {
  height: 100%;
}


body {
  font-family: 'Avara', sans-serif;
  font-size:300px;
  margin: 0;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Avara', sans-serif;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
  /* span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1.3vw;
  } */
}

main {
  display: none;
  width: 80vw;
  left: 10%;
  height: 40vh;
  overflow: auto;
  background: rgba(black, 0.66);
  color: white;
  position: relative;
  padding: 1rem;
}


@media screen and (max-width: 650px) {
    #bgvid {
        display: none;
    }
}
