/* @font-face {
  font-family: 'Avara';
  src: url('fonts/Avara-Bold.woff2') format('woff2'),
       url('fonts/Avara-Bold.woff') format('woff'),
       url('fonts/Avara-Bold.eot') format('eot'),
       url('fonts/Avara-Bold.ttf') format('ttf'),
} */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700&display=swap');

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

.content {
   padding: 25px;
   background-color: rgba(#000, .3);
   position: absolute;
   right: 50px;
   bottom: 50px;

   h1 {
      font-family: 'Roboto Slab', serif;
      margin: 0;
      color: #ffffff;
   }
}




html, body {
  height: 100%;
}


body {
  font-family: 'Work Sans', sans-serif;
  font-size:300px;
  margin: 0;
}

.header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight:500;
  color: #FF6C2F;
  font-size: 2vw;
}


.info {
  margin-top: 24px;
}

.logo {
  width: 22%;
}


@media screen and (max-width: 650px) {

  h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight:500;
    color: #fafafa;
    font-size: 3vw;
  }

}
